*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    justify-items: center;
    display: flex;
    min-height: 100vh;
}
.calc{
    flex: 0 0 95%;
    margin-left: 200px;
    margin-right: 100px;
}
.screen{
    border: none;
    background-color: rgb(41, 41, 56);
    color: white;
    font-size: 7rem;
    width: 70%;
    padding: 0.5rem;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5 linear;
    width: 70%;
}
button{
    flex: 0 0 20%;
    border: 1px solid black;
    padding: 0.25rem 0;
    transition: all 2s ease;
}
button:hover{
    background: blue;
}
.btn-yellow{
    color: white;
    background: rgb(245,146,62);
}
.btn-grey{
    background: rgb(224,224,224);
}
.btn,.btn-equal,.btn-clear{
    font-size: 4rem;
}
.btn-equal{
    background: green;
}
.btn-clear{
    background: red;
}